<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styleServicios.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/font-awesome/5.15.1/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/6da589b235.js"
      crossorigin="anonymous"
    ></script>
    <title>Servicio Albañileria</title>
  </head>
  <body class="body">
    <body>
      <header th:replace="fragments/navbar"></header>
    </body>
    <div class="container">
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="perfil1"
          />
        </figure>
        <div class="contenido">
          <h3>Jose</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
            officiis nulla impedit dicta labore laborum repellendus.
          </p>
          <a href="$">Contactarse</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1530268729831-4b0b9e170218?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="perfil2"
          />
        </figure>
        <div class="contenido">
          <h3>Matias</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
            officiis nulla impedit dicta labore laborum repellendus.
          </p>
          <a href="$">Contactarse</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="perfil3"
          />
        </figure>
        <div class="contenido">
          <h3>Juan</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
            officiis nulla impedit dicta labore laborum repellendus.
          </p>
          <a href="$">Contactarse</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="perfil4"
          />
        </figure>
        <div class="contenido">
          <h3>Lucas</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
            officiis nulla impedit dicta labore laborum repellendus.
          </p>
          <a href="$">Contactarse</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1619194617062-5a61b9c6a049?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
            alt="perfil5"
          />
        </figure>
        <div class="contenido">
          <h3>Ariel</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
            officiis nulla impedit dicta labore laborum repellendus.
          </p>
          <a href="$">Contactarse</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1492447273231-0f8fecec1e3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="perfil6"
          />
        </figure>
        <div class="contenido">
          <h3>Tomas</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
            officiis nulla impedit dicta labore laborum repellendus.
          </p>
          <a href="$">Contactarse</a>
        </div>
      </div>
    </div>
  </body>
</html>
